# Source Files and dev tools
lib/
gulpfile.js
docs

# Config Files
LICENSE
.idea
.eslintrc
.gitignore
.eslintignore
.babelrc
.codeclimate.yml
.travis.yml
.prettierrc

# Auto Generating Files
yarn.lock
coverage/
.nyc_output/

# Other files
CONTRIBUTING.md
logo.png
